body{
background-color:#EEEEEE;
text-align:center;
text-decoration:none;
}
#base{
background-image:url(../images/index/lv2bg_1.png);
margin:0 auto;
height:1000px;
width:956px;
}
#tou{
height:201px;
}
#menu{
height:60px;
width:956px;
position:relative;
float:left;
border-bottom-width:thin;
border-bottom-color:#CCCCCC;
border-bottom-style:dotted;
border-right-width:thin;
border-right-color:#CCCCCC;
border-right-style:dotted;
}
.menu{
width:188px;
height:60px;
float:left;
border-bottom-width:thin;
border-bottom-color:#CCCCCC;
border-bottom-style:dotted;
border-right-width:thin;
border-right-color:#CCCCCC;
border-right-style:dotted;

}
.menu_a{
font-size:24px;
text-decoration:none;
height:30px;
top:-10px;
}
a:hover{
font-size:26px;
color:#AC6C75;
}
.menu_img{
margin-top:10px;
margin-right:110px;
height:40px;
margin-bottom:10px;
}
#Layer1 {
	width:252px;
	height:193px;
	float:left;
}
#Layer2 {
	position:relative;
	width:700px;
	height:198px;
	float:right;
}
#exit_login{
	position:absolute;
	width:132px;
	height:27px;
	top:162px;
	left: 566px;
	text-align:right;
}
#login_a{
font-size:20px;
text-decoration:none;
height:30px;
margin-top:20px;
}
#list_menu{
height:660px;
width:191px;
float:left;
position:relative;
}
.list_a{
font-size:20px;
text-decoration:none;
}
.list_a:hover{
font-size:24px;
color:#AC6C75;

}
#neirong{

position:relative;
width:765px;
height:660px;
float:right;
background-color:#FFFFFF;
background-image:url(../images/bule.jpg);
}
#neirong1{
position:relative;
width:765px;
height:660px;
float:right;
background-color:#FFFFFF;
background-image:url(../images/bule.jpg);
}
.list_img{
width:50px;
height:50px;
}
#h3_id{
font:Arial, Helvetica, sans-serif;
font-size:20px;
}

.t_a{
font-size:18px;
text-decoration:none;
color:#00FF00;
}
.t_a:hover{
font-size:18px;
color:#A9A7EB;
}

.h1_id{
margin-top:100px;
width:110px;

}
#effect{
font-size:28px
}
#home_div{
border:none;
}

#Layer3 {
	position:absolute;
	width:379px;
	height:48px;
	z-index:3;
	top: 67px;
	left: 164px;
}
#Layer4 {
	position:absolute;
	width:38px;
	height:22px;
	z-index:1;
	left: 7px;
	top: -2px;
}
#Layer5 {
	position:absolute;
	width:78px;
	height:65px;
	z-index:1;
	left: 3px;
	top: 18px;
}
#Layer6 {
	position:absolute;
	width:98px;
	height:30px;
	z-index:2;
	top: 34px;
	left: 85px;
}
#Layer7 {
	position:absolute;
	width:76px;
	height:62px;
	z-index:3;
	left: 3px;
	top: 94px;
}
#Layer8 {
	position:absolute;
	width:105px;
	height:28px;
	z-index:4;
	left: 80px;
	top: 113px;
}
#Layer9 {
	position:absolute;
	width:76px;
	height:68px;
	z-index:5;
	left: 3px;
	top: 175px;
}
#Layer10 {
	position:absolute;
	width:103px;
	height:28px;
	z-index:6;
	left: 81px;
	top: 194px;
}
#Layer11 {
	position:absolute;
	width:75px;
	height:69px;
	z-index:7;
	left: 3px;
	top: 258px;
}
#Layer12 {
	position:absolute;
	width:99px;
	height:29px;
	z-index:8;
	left: 82px;
	top: 282px;
}
#Layer13 {
	position:absolute;
	width:75px;
	height:65px;
	z-index:9;
	left: 2px;
	top: 344px;
}
#Layer14 {
	position:absolute;
	width:103px;
	height:29px;
	z-index:10;
	left: 80px;
	top: 363px;
}
#Layer15 {
	position:absolute;
	width:75px;
	height:64px;
	z-index:11;
	left: 4px;
	top: 428px;
}
#Layer16 {
	position:absolute;
	width:101px;
	height:30px;
	z-index:12;
	left: 83px;
	top: 449px;
}
#Layer17 {
	position:absolute;
	width:74px;
	height:66px;
	z-index:13;
	left: 5px;
	top: 508px;
}
#Layer18 {
	position:absolute;
	width:101px;
	height:25px;
	z-index:14;
	left: 85px;
	top: 529px;
}
#Layer19 {
	position:absolute;
	width:72px;
	height:69px;
	z-index:15;
	left: 5px;
	top: 590px;
}
#Layer20 {
	position:absolute;
	width:99px;
	height:26px;
	z-index:16;
	left: 86px;
	top: 609px;
}
#Layer21 {
	position:absolute;
	width:106px;
	height:31px;
	z-index:1;
	left: 79px;
	top: 19px;
}
#Layer22 {
	position:absolute;
	width:111px;
	height:29px;
	z-index:1;
	left: 261px;
	top: 20px;
}
#Layer23 {
	position:absolute;
	width:112px;
	height:32px;
	z-index:1;
	left: 459px;
	top: 21px;
}
#Layer24 {
	position:absolute;
	width:122px;
	height:30px;
	z-index:1;
	left: 639px;
	top: 20px;
}
#Layer25 {
	position:absolute;
	width:208px;
	height:117px;
	z-index:1;
	left: 91px;
	top: 6px;
}
#Layer26 {
	position:absolute;
	width:116px;
	height:112px;
	z-index:1;
	left: 4px;
	top: 5px;
}
#Layer27 {
	position:absolute;
	width:77px;
	height:33px;
	z-index:2;
	top: 60px;
	left: 121px;
}
#Layer28 {
	position:absolute;
	width:615px;
	height:490px;
	z-index:2;
	left: 90px;
	top: 170px;
}
#Layer29 {
	position:absolute;
	width:120px;
	height:22px;
	z-index:1;
	left: 36px;
	top: 456px;
	background-color:#FFFF7D;
}
#Layer30 {
	position:absolute;
	width:97px;
	height:23px;
	z-index:2;
	top: 458px;
	left: 320px;
	background-color:#FFFF7D;
}
#Layer31 {
	position:absolute;
	width:202px;
	height:36px;
	z-index:3;
	left: 297px;
	top: 76px;
}
#Layer32 {
	position:absolute;
	width:111px;
	height:29px;
	z-index:1;
	left: 836px;
	top: 17px;
}


#Layer40 {
	position:absolute;
	width:200px;
	height:30px;
	z-index:1;
	left: 120px;
	top: 35px;
}


#Layer33 {
	position:absolute;
	width:761px;
	height:471px;
	z-index:1;
	left: 1px;
	top: 190px;
	background-image:url(../images/u44_state3.PNG);
}
#Layer34 {
	position:absolute;
	width:554px;
	height:481px;
	z-index:1;
	left: 101px;
	top: -61px;
	background-color:#FDFEF8;
}

.pre_next{
text-decoration:none;
color:#000000;
margin-right:50px;
margin-left:50px;
font-size:18px;
}

.pre_next:hover{
text-decoration:none;
margin-right:50px;
margin-left:50px;
font-size:18px;
}
#addwish{
font-size:30px;
color:#B7EC15;
text-decoration:none;
}

.td_1{

border-bottom-width:thin;
border-bottom-color:#CCCCCC;
border-bottom-style:dotted;
border-right-width:thin;
border-right-color:#CCCCCC;
border-right-style:dotted;
}

#Layer35 {
	position:absolute;
	width:420px;
	height:36px;
	z-index:1;
	left: 70px;
	top: 106px;
	color:#000000;
    font-size:18px;
}
#Layer36 {
		color:#000000;
    font-size:18px;
position:absolute;
	width:267px;
	height:115px;
	z-index:2;
	left: 175px;
	top: 150px;
}
#Layer37 {
		color:#000000;
    font-size:18px;
	position:absolute;
	width:55px;
	height:23px;
	z-index:1;
	left: 117px;
	top: 217px;
}
#in{
height:30px;
width:258px;
font-size:24px;
}

#Layer38 {
	position:absolute;
	width:145px;
	height:34px;
	z-index:3;
	left: 206px;
	top: 325px;
}

#sub{
height:30px;
background-color:#B6E4C8;
color:#0000FF;
font-size:28px;
}