body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:878px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:560px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:878px;
  height:550px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:267px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Gothic Std B', 'Adobe Gothic Std';
  font-weight:700;
  font-style:normal;
  color:#8EC3ED;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:141px;
  width:218px;
  height:64px;
  font-family:'Adobe Gothic Std B', 'Adobe Gothic Std';
  font-weight:700;
  font-style:normal;
  color:#8EC3ED;
}
#u2_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Gothic Std B', 'Adobe Gothic Std';
  font-weight:700;
  font-style:normal;
  color:#8EC3ED;
}
#u2.mouseOver {
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#uu3 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:260px;
  width:225px;
  white-space:nowrap;
  color:red
}
#uu4 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:325px;
  width:225px;
  white-space:nowrap;
  color:red
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 224, 231, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 10px rgba(0, 153, 204, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 153, 204, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 153, 204, 0.349019607843137);
}
#u5 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:215px;
  width:300px;
  height:198px;
  opacity:0.7;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:91px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:246px;
  width:29px;
  height:16px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:305px;
  width:29px;
  height:1px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:275px;
  width:243px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:25px;
  background-color:#F3F5F6;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0066FF;
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:331px;
  width:243px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:25px;
  background-color:#F4F6F7;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0066FF;
  text-align:left;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:436px;
  width:29px;
  height:16px;
}
#u13_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13.mouseOver {
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:305px;
  width:71px;
  height:16px;
}
#u15_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15.mouseOver {
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:436px;
  width:87px;
  height:28px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:black;
  text-align:center;
  cursor:pointer;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:438px;
  width:29px;
  height:16px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20{
  border-width:0px;
  position:absolute;
  left:319px;
  top:381px;
  width:243px;
  height:25px;
}
#u20_input{
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background-color:#F4F6F7;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0066FF;
  text-align:left;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:360px;
  width:29px;
  height:1px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:410px;
  width:29px;
  height:1px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u200{
  border-width:0px;
  position:absolute;
  left:275px;
  top:405px;
  width:243px;
  height:25px;
}
#u200_input{
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background-color:#F4F6F7;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0066FF;
  text-align:left;
}
#uu20{
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:243px;
  height:25px;
}
#uu13 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:430px;
  width:100px;
  height:16px;
}
#uu13_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
}
